{% extends 'base/base.html' %}
{% block title %}Signin{% endblock %}
{% block body %}
    <div class="card" style="width: 50%; border-radius: 30px; margin: 100px 300px 300px;;">
        <div class="card-body">
        <h1>Sign in</h1><br>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="form-group">
        <form method="post">
            <input type="text" name="username" placeholder="Username" class="form-control"><br>
            <input type="password" name="password" placeholder="Password" class="form-control"><br>
            {% csrf_token %}
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        </div>
    </div>
{% endblock %}
